.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f3f4f6;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  color: #4b5563;
}
h1{
  display: flex;
  justify-content: center;
}
