.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f3f4f6;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  color: #4b5563;
}
h1{
  display: flex;
  justify-content: center;
}
.workersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Space between cards */
  margin-top: 20px;
}
.editBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 12px;
  background-color: #0b7a52; /* green */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
  z-index: 10;
}

.editBtn:hover {
  background-color: #1e7e34; /* darker green on hover */
  transform: scale(1.05);
}
.deleteBtn {
  position: absolute;
  top: 50px; /* slightly below the edit button */
  right: 10px;
  padding: 5px 12px;
  background-color: #dc2626; /* red */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
  z-index: 10;
}

.deleteBtn:hover {
  background-color: #b91c1c; /* darker red on hover */
  transform: scale(1.05);
}

