.navbar {
  background: #ffffff;
  padding: 16px 22px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navItem {
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

.link:hover {
  color: #0077cc;
}

.activeLink {
  color: #0077cc;
  border-bottom: 2px solid #0077cc;
  padding-bottom: 4px;
}
