.form {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.submitBtn {
  background: #0a53ff;
  padding: 12px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.submitBtn:hover {
  background: #003fcc;
}
