/* workercard.module.css */
.card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.info {
  text-align: center;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.specialtyBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.specialtyBtn:hover {
  background-color: #0056b3;
}

.location,
.experience {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}

.detailsBtn {
  text-align: center;
  display: block;
  margin-top: 20px;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.detailsBtn:hover {
  text-decoration: underline;
  color: #0056b3;
}
