@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");
html,
body,
#root {
  font-family: "Stack Sans Text", sans-serif;
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-content {
  flex: 1;
}
